.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  background-image: linear-gradient(to right, #eb984e, #e67e22);

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 1.2rem;
  overflow: hidden;

  height: 50rem;
}
.cta-text-box {
}

.cta-img-box {
  background-image: linear-gradient(
      to right,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-position: center;
  background-size: cover;
}
