.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}

/* *********************************** */
/* NAVIGATION  */
/* *********************************** */
.main-nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-links:link,
.main-nav-links:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;

  transition: all 0.3s;
}

.main-nav-links:hover,
.main-nav-links:active {
  color: #cf711f;
}

.main-nav-links.nav-cta:link,
.main-nav-links.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
}

.main-nav-links.nav-cta:hover,
.main-nav-links.nav-cta:active {
  background-color: #cf711f;
}
